{% extends 'hierarchy/team_dashboard.html' %}
{% load staticfiles %}



{% block section %}
<style type="text/css">
    
    .member:hover {
        background:#F2F2F2 !important;
    }


</style>

<div style="margin-top:20px; border:1px solid #F2F2F2; border-bottom:1px solid transparent; background:#FFF;">   
    {% if error %}
    <div> NO </div>
    {% endif %}
    <div style="background:#FFF; border:1px solid #F2F2F2; border-radius:4px; padding:28px;" >
        <div style="border-bottom:1px solid #AEAEAE; padding:6px 0">
            <h3> Add Members to Team</h3>
        </div>
        <form class="form-horizontal" action="{% url 'hierarchy:add_team_members' team=team.name %}" method="post" style="margin-top:20px;" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.non_field_errors }}
                
                <div class="form-group">
                    <ol>
                    {% for error in form.user.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                    <label  class="control-label" for="{{ form.user.id_for_label }}" style="width:15%;">Username: </label>
                    <div style="width:75%; display:inline-block; margin:0 0 0 7.5%;">
                        <input class="form-control" name="{{ form.user.html_name }}" maxlength="{{ form.user.field.max_length }}">
                    </div>
                </div>  
                <div style=" font-size:14px; width:20%; vertical-align:middle; display:inline-block; margin:0 0 0 7.5%;">
                    <ol>
                    {% for error in form.role.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                    <label  class="control-label" for="{{ form.role.id_for_label }}">Role: </label>
                    <select class="form-control" name="{{ form.role.html_name }}">
                        {% for choice in form.role.field.choices %}
                            <option value="{{ choice.0 }}"> {{ choice.1 }}</option>
                        {% endfor%}
                    </select>
                </div>               
                <div class="form-group">
                    <button type="submit" name="add_member">Add to team</button>
                </div>

        </form>
    </div>
    {% for member in members %}
    <div  style="overflow:hidden; font-size:12px; position:relative; cursor:pointer; border:1px solid #F2F2F2; border-bottom:1px solid transparent; background:#FFF;">


        <div class="member" style=" padding:4px 12px;">
            <div class="shape square" style="width:28px; min-width:0; vertical-align:middle; box-shadow:0 0 0; border:1px solid #F2F2F2;">
                <div>
                    <img src="{% static 'img/user.jpg' %}" style="width:100%; ">
                </div>
            </div>
            <div style="display:inline-block; margin-left:8px; line-height:40px; vertical-align:middle;" >
                <a href="{# url 'workflow:workflow' project=project.name workflow=workflow.pk #}"><span>{{ member.user.first_name }} {{ member.user.last_name }}</span></a>
            </div>
            <div style="margin-left:16px; display:inline-block; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                <span> {{ member.user.username }}</span>
            </div>
            <div style="display:inline-block; float:right; line-height:40px;">
                <span style="padding:18px 10px;">
                    <a href="{% url 'hierarchy:delete_team_members' team=team.name member=member.pk %}">
                        <i class="fa fa-fw fa-times"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block extra_scripts %}
<script>
</script>
{% endblock %}