{% extends 'hierarchy/team_dashboard.html' %}
{% load staticfiles %}



{% block section %}
<style type="text/css">
    
    .member:hover {
        background:#F2F2F2 !important;
    }


</style>

<div style="margin-top:20px; font-size:12px;">

    {% for member in members %}
    <div  style="overflow:hidden;  position:relative; cursor:pointer; border:1px solid #F2F2F2; border-bottom:1px solid transparent; background:#FFF;">
        <div class="member" style=" padding:4px 12px;">
            <div class="shape square" style="width:28px; min-width:0; vertical-align:middle; box-shadow:0 0 0; border:1px solid #F2F2F2;">
                <div>
                    <img src="{% static 'img/user.jpg' %}" style="width:100%; ">
                </div>
            </div>
            <div style="display:inline-block; margin-left:8px; line-height:40px; vertical-align:middle;" >
                <a href="{# url 'workflow:workflow' project=project.name workflow=workflow.pk #}"><span>{{ member.user.first_name }} {{ member.user.last_name }}</span></a>
            </div>
            <div style="margin-left:16px; display:inline-block; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                <span> {{ member.user.username }}</span>
            </div>
            <div style="display:inline-block; float:right; line-height:40px;">
                <span style="padding:18px 10px;"><i class="fa fa-fw fa-times"></i></span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block extra_scripts %}
<script>
</script>
{% endblock %}