
body {
    background: rgba(253, 253, 253, 1);
}

.logo {
    font-family:Roboto Condensed;
}

.motto {
    font-weight:200;
}


.wrapper {
    min-width:900px;
}




/*.square {
    margin:0 24px 34px 0;
    padding:4px;
    position:relative; 
    text-align:center; 
    display:inline-block; 
    width:10%;
    width:5%;
    min-width:80px; 
    border:1px solid #F2F2F2;
    border-radius:50%; 
    border-radius:4px;
    float:left;
    box-shadow: 2px 2px 6px -2px #AEAEAE;
    box-shadow: 1px 1px 6px -2px #6A6A6A;
    margin:3.7px;
}*/

.shape {
    position: relative;
    text-align: center; 
    display: inline-block; 
    box-shadow: 2px 2px 6px -2px #AEAEAE;
    /*box-shadow: 1px 1px 6px -2px #6A6A6A; */
    min-width: 84px;
    max-width: 160px;
    width: 10%;

    /*border:1px solid #F2F2F2;*/
    padding:4px; 
}

.square {

    border-radius:4px;
/*    height:10%;
    min-height: 84px;
    max-height:120px;*/

}

    .square:before {
        content: "";
        display: block;
        padding-top: 100%;
    }


    .square div {
        /*border:1px solid #F2F2F2; */
        /*border-radius:50%;*/
        border-radius: 4px;
        overflow:hidden;
        position:absolute; 
        top:0; left:0; right:0; bottom:0;
    }

    .square.simple {
        border:0;
        /*float:left;*/
        margin:12px 8px;
    }

.align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;

}

.align > * {
    display: inline-block;
    vertical-align: middle;
}


.circle {
    border-radius:50%; 
}

    .circle div {
        border-radius:50%; 
        overflow: hidden;
    }

    .circle.simple {
        border:0;
        padding:0;
        box-shadow:none;
    }




#googleSignInButton {
  display: inline-block;
  background: #4285f4;
  color: white;
  border-radius: 2px;
  white-space: nowrap;
  margin-top:40px;
}

    #googleSignInButton > .icon {
      background: url('https://developers.google.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
      border-right: #2265d4 1px solid;
    }

    #googleSignInButton > .text {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }



.logo {
    text-align:center; 
    font-family:Roboto Condensed; 
    font-weight:400; 
    font-size:20px; 
    width:34px; 
    height:34px; 
    border-radius:2px; 
    background:#323232; 
    float:left; 
    line-height:34px; 
    color:#FFF;
}




/*******************
        ASIDE
********************/


