{% extends 'management/project_dashboard.html' %}
{% load staticfiles %}



{% block section %}
<style type="text/css">
    
    .process .main:hover,
    .stage .main:hover,
    .task .main:hover {
        background:#F2F2F2 !important;
    }


</style>

<div style="margin-top:20px; font-size:12px;">

    {% for workflow in workflows %}
    <div class="process" style="overflow:hidden;  position:relative; cursor:pointer; border:1px solid #F2F2F2; border-bottom:1px solid transparent; background:#FFF;"
        data-content='{"pk": "{{ workflow.pk}}", "name": "{{ workflow.name }}", "description": "{{ workflow.description }}", "manager": {"name": "{{ workflow.responsible.user.first_name }} {{ workflow.responsible.user.last_name }}", "username": "{{ workflow.responsible.user.username }}" }, "stages": "{{ workflow.stages.all.count }}", "tasks": "{{ workflows.stages.tasks.all.count }}", "parent": {"pk": "{{ workflow.parent_id.pk }}", "name": "{{ workflow.parent_id.name }}" } }'>
        <div class="main" style=" padding:4px 12px;">
            <div class="shape square" style="width:28px; min-width:0; vertical-align:middle; box-shadow:0 0 0; border:1px solid #F2F2F2;">
                <div>
                    <img src="{% static 'img/user.jpg' %}" style="width:100%; ">
                </div>
            </div>
            <div style="display:inline-block; margin-left:8px; line-height:40px; vertical-align:middle;" >
                <a href="{% url 'workflow:workflow' project=project.name workflow=workflow.pk %}"><span>{{ workflow.name }}</span></a>
            </div>
            <div style="margin-left:16px; display:inline-block; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                <span> {{ workflow.description }}</span>
            </div>
            <div style="display:inline-block; float:right; line-height:40px;">
                <span style="padding:18px 10px;"><i class="fa fa-fw fa-level-down"></i></span>
                <span style="padding:18px 10px;"><i class="fa fa-fw fa-street-view"></i></span>
            </div>
        </div>

        {% for stage in workflow.stages.all %}
        <!-- {"description": "{{task.description}}", "completed": "{{task.completed}}", "start_date": "{{task.start_date}}", "end_date":"{{task.end_date}}" }, -->
        <div class="stage" style=" display:none;" 
            data-content='{"name": "{{stage.name}}", "manager": {"name": "{{stage.responsible.user.first_name}} {{stage.responsible.user.last_name}}", "username": "{{stage.responsible.user.username}}" }, "description": "{{stage.description}}", "pk": "{{stage.pk}}", "process": {"name": "{{workflow.name}}", "description": "{{workflow.description}}"},  "tasks": [{% for task in stage.tasks.all %}{"id": "{{task.pk}}", "description": "{{task.description}}", "completed": "{{task.completed}}", "start_date": "{{task.start_date}}", "end_date":"{{task.end_date}}" },{% endfor %} null], "subprocess": {"name": "{{stage.sub.name}}", "pk": "{{stage.sub.pk}}"} }'>
            <div class="main" style="padding:4px 12px 4px 48px;">
                <div class="shape circle simple" style="width:20px; height:20px; overflow:hidden; min-width:0; vertical-align:middle; box-shadow:0 0 0; border:1px solid #F2F2F2;">
                    <div>
                        <img src="{% static 'img/user.jpg' %}" style="width:100%; ">
                    </div>
                </div>
                <div style="display:inline-block; margin-left:8px; line-height:40px; vertical-align:middle;" >
                    <span>{{ stage.name }}</span>
                </div>
                <div style="margin-left:16px; display:inline-block; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                    <span> {{ stage.description }} </span>
                </div>
                <div style="display:inline-block; float:right; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                    <span style="padding:18px 10px;"> {{ stage.tasks.count }} tasks</span>
                </div>
            </div>

            {% for task in stage.tasks.all %}
             <div class="task" style="display:none;"
                data-content='{"manager": {"name": "{{task.responsible.user.first_name}} {{task.responsible.user.last_name}}", "username": "{{task.responsible.user.username}}" }, "description": "{{task.description}}", "pk": "{{task.pk}}", "end_date": "{{task.end_time|date:'Y-m-d H:i'}}", "due_date": "{{task.due_time|date:'Y-m-d H:i'}}", "completed_by": {"name": "{{task.completed_by.user.first_name}} {{task.completed_by.user.last_name}}", "username": "{{task.completed_by.user.username}}"} }'>
                <div class="main" style="padding:4px 48px 0 48px;">
                    <div style="border-bottom:1px solid #F2F2F2; line-height:34px; position:relative; padding-left:8px;">
                        <input class="task-completed" name="completed" type="checkbox" disabled="disabled" {% if task.completed %} checked {% endif %}>
                        <div class="task-description" name="description" type="text" style="display:inline-block; font-weight:300; font-size:14px;margin-left:24px; padding-left:12px; padding-right:0 12px; {% if task.completed %} text-decoration:line-through {% endif %}">{{ task.description }}</div>
                    </div>
                </div>
             </div>   
            {% endfor %}

        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block sidebar %}
<div id="preview-container" class="" style="width:30%; border-left:1px solid #F2F2F2; border-right:1px solid #F2F2F2; right:15px; height:100%; display:inline-block; float:left; background:#FFF; position:fixed;">
  
    <div class="preview-content process" style=" width:100%; height:100%; overflow-y:scroll; position:absolute; display:none;">
        <div style="padding:12px 24px;">
            <div style="display:inline-block; vertical-align:top; width:75%;">
                <div class="title-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="name-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
                <div style="font-family:Open Sans; font-size:12px; font-weight:300; color:#434343; background:#FDAD73; padding:1px 6px; display:inline-block; border-radius:2px;">Status</div>
            </div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="description-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="shape square simple" style="width:40px; min-width:0; margin:0 10px 0 0; vertical-align:top;" >
                <div style=" overflow:hidden;">
                    <img  src="{% static 'img/user.jpg' %}"  style=" position:relative; width:100%;  ">
                </div> 
            </div>
            <div style="display:inline-block; vertical-align:top; width:55%;">
                <div class="manager-name-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="manager-username-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
            </div>
            <div class="process-edit-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; display:inline-block; vertical-align:top; width:0%;">
                <a>
                    <button style="border-radius:4px; padding:8px 14px; background:#343434; color:#FFF;">Edit</button>
                </a>
            </div>
            <select class="manager" name="manager" style="display:none;">
                {% if project.team %}
                    {% for user in project.team.users.all %}
                    <option value="{{user.user.user.username}}">{{user.user.user.username}}</option>
                    {% endfor%}
                {% else %}
                    {% for user in project.users.all %}
                    <option value="{{user.user.user.username}}">{{user.user.user.username}}</option>
                    {% endfor%}
                {% endif %}
            </select>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="stages-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="parent-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; ">
                <a class="stage-link-preview" href="{% url 'workflow:workflow' project=project.name %}">
                    <button style="border-radius:4px; padding:8px 14px; background:#343434; color:#FFF;">Add stage</button>
                </a>
            </div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; ">
                <a class="process-delete-preview">
                    <button style="border-radius:4px; padding:8px 14px; background:#AE2323; color:#FFF;">Delete</button>
                </a>
            </div>
        </div>
    </div>

    <div class="preview-content stage" style=" width:100%; height:100%; overflow-y:scroll; position:absolute; display:none;">
        <div style="padding:12px 24px;">
            <div style="display:inline-block; vertical-align:top; width:75%;">
                <div class="title-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="name-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
                <div style="font-family:Open Sans; font-size:12px; font-weight:300; color:#434343; background:#FDAD73; padding:1px 6px; display:inline-block; border-radius:2px;">Status</div>
            </div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="description-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="shape square simple" style="width:40px; min-width:0; margin:0 10px 0 0; vertical-align:top;" >
                <div style=" overflow:hidden;">
                    <img  src="{% static 'img/user.jpg' %}"  style=" position:relative; width:100%;  ">
                </div> 
            </div>
            <div style="display:inline-block; vertical-align:top; width:55%;">
                <div class="manager-name-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="manager-username-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
            </div>
            <div class="stage-edit-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; display:inline-block; vertical-align:top; width:0%;">
                <a>
                    <button style="border-radius:4px; padding:8px 14px; background:#343434; color:#FFF;">Edit</button>
                </a>
            </div>
            <select class="manager" name="manager" style="display:none;">
                {% if project.team %}
                    {% for user in project.team.users.all %}
                    <option value="{{user.user.user.username}}">{{user.user.user.username}}</option>
                    {% endfor%}
                {% else %}
                    {% for user in project.users.all %}
                    <option value="{{user.user.user.username}}">{{user.user.user.username}}</option>
                    {% endfor%}
                {% endif %}
            </select>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="tasks-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="subprocess-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div style="border-bottom:1px solid #F2F2F2; line-height:34px; position:relative;">
                <input class="task-completed" name="completed" type="checkbox" disabled="disabled" {% if task.completed %} checked {% endif %}>
                <input class="task-description" name="description" type="text" style="width:90%; display:inline-block; font-weight:300; font-size:14px; border:0; margin-right:8px; padding-left:12px; padding-right:12px;" placeholder="+ Add a task">
                <input class="task-due-date" name="due-date" type="date" style=" display:inline-block; font-weight:300; font-size:14px; border:0; margin-right:8px; padding-left:12px; padding-right:12px;" >
                <select class="task-manager" name="manager">
                    {% if project.team %}
                        {% for user in project.team.users.all %}
                        <option value="{{user.user.pk}}">{{user.user.user.username}}</option>
                        {% endfor%}
                    {% else %}
                        {% for user in project.users.all %}
                            <option value="{{user.user.pk}}">{{user.user.user.username}}</option>
                        {% endfor%}
                    {% endif %}
                </select>
            </div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; ">
                <a class="stage-delete-preview" >
                    <button style="border-radius:4px; padding:8px 14px; background:#AE2323; color:#FFF;">Delete</button>
                </a>
            </div>
        </div>
    </div>

    <div class="preview-content task" style=" width:100%; height:100%; overflow-y:scroll; position:absolute; display:none;">
        <div style="padding:12px 24px;">
            <div style="display:inline-block; vertical-align:top; width:75%;">
                <div class="title-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="description-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
            </div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="shape square simple" style="width:40px; min-width:0; margin:0 10px 0 0; vertical-align:top;" >
                <div style=" overflow:hidden;">
                    <img  src="{% static 'img/user.jpg' %}"  style=" position:relative; width:100%;  ">
                </div> 
            </div>
            <div style="display:inline-block; vertical-align:top; width:55%;">
                <div class="manager-name-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="manager-username-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
            </div>
            <div class="task-edit-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; display:inline-block; vertical-align:top; width:0%;">
                <a >
                    <button style="border-radius:4px; padding:8px 14px; background:#343434; color:#FFF;">Edit</button>
                </a>
            </div>
            <select class="manager" name="manager" style="display:none;">
                {% if project.team %}
                    {% for user in project.team.users.all %}
                    <option value="{{user.user.user.username}}">{{user.user.user.username}}</option>
                    {% endfor%}
                {% else %}
                    {% for user in project.users.all %}
                    <option value="{{user.user.user.username}}">{{user.user.user.username}}</option>
                    {% endfor%}
                {% endif %}
            </select>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="due-date-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>
        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="shape square simple" style="width:20px; min-width:0; margin:0 10px 0 0; vertical-align:top;" >
                <div style=" overflow:hidden;">
                    <img  src="{% static 'img/user.jpg' %}"  style=" position:relative; width:100%;  ">
                </div> 
            </div>
            <div style="display:inline-block; vertical-align:top; width:75%;">
                <div class="completed-name-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;"></div>
                <div class="completed-username-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;"></div>
            </div>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div class="end-date-preview" style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; "></div>
        </div>


        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; ">
                <button class="complete-task" type="button" style="border-radius:4px; padding:8px 14px; background:#343434; color:#FFF;">Check</button>
            </div>
        </div>

        <div style="padding:12px 24px; border-top:1px solid #F2F2F2;">
            <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; ">
                <a class="task-delete-preview" >
                    <button style="border-radius:4px; padding:8px 14px; background:#AE2323; color:#FFF;">Delete</button>
                </a>
            </div>
        </div>
    </div>

    <div class="preview-default align" style="width:100%; height:100%; font-size:14px; font-weight:300; position:absolute; text-align:center;">
        <div>
            <div>Click elements for preview</div>
            <div><i class="fa fa-fw fa-ellipsis-h"></i></div>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_scripts %}
<script>

    function addTask(event) {
        if(event.which === 13 &&  $(this).val().trim()){
            var stage = event.data,
                input = $(this),
                date = input.next('.task-due-date'),
                manager = input.nextAll('.task-manager');


            $.ajax({
                method: 'GET',
                url: '{% url 'workflow:task' project=project.name %}',
                data: {
                    stage: event.data.pk,
                    description: $(this).val(),
                    manager: manager.val(),
                    date: date.val()
                },
                success: function() {

                    location.reload()
                }
            });

            
            return false;
        }

    }

    function updateTask(event) {
        var task = event.data;
        $(this).hide();
        $(this).next('.manager').val(task.manager.username);
        $(this).next('.manager').show();
        $(this).next('.manager').unbind();
        $(this).next('.manager').on('change', event.data, function() {
            var 
                task = event.data.pk,
                manager = $(this).val();
            $.ajax({
                method: 'GET',
                url:  "{% url 'workflow:task' project=project.name %}" + task,
                data: {
                    manager: manager
                },
                success: function() {
                    location.reload();
                }
            });
        });
    }

    function checkTask(event) {
        var task = event.data.pk;
        $.ajax({
            method: 'GET',
            url:  "{% url 'workflow:task' project=project.name %}" + task,
            data: {
                check:true
            },
            success: function() {
                location.reload();
            }
        });
    }

    function deleteTask(event) {
        var task = event.data.pk;
        $.ajax({
            method: 'GET',
            url:  "{% url 'workflow:task' project=project.name %}" + task,
            data: {
                delete:true
            },
            success: function() {
                location.reload();
            }
        });
    }

    function deleteProcess(event) {
        var process = event.data.pk;

        $.ajax({
            method: 'GET',
            url: "/project/{{project.name}}/process/" + process,
            data: {
                delete: true
            },
            success: function() {
                location.reload();
            }
        });
    }

    function updateProcess(event) {
        var process = event.data;
        $(this).hide();
        $(this).next('.manager').val(process.manager.username);
        $(this).next('.manager').show();
        $(this).next('.manager').unbind();
        $(this).next('.manager').on('change', event.data, function() {
            var 
                process = event.data.pk,
                manager = $(this).val();
            $.ajax({
                method: 'GET',
                url:  "/project/{{project.name}}/process/" + process,
                data: {
                    manager: manager
                },
                success: function() {
                    location.reload();
                }
            });
        });
    }

    function deleteStage(event) {
        var stage = event.data.pk;

        $.ajax({
            method: 'GET',
            url: "{% url 'workflow:stage' project=project.name %}" + stage,
            data: {
                delete: true
            },
            success: function() {
                location.reload();
            }
        });
    }

    function updateStage(event) {
        var stage = event.data;
        $(this).hide();
        $(this).next('.manager').val(stage.manager.username);
        $(this).next('.manager').show();
        $(this).next('.manager').unbind();
        $(this).next('.manager').on('change', event.data, function() {
            var 
                stage = event.data.pk,
                manager = $(this).val();
            $.ajax({
                method: 'GET',
                url:  "{% url 'workflow:stage' project=project.name %}" + stage,
                data: {
                    manager: manager
                },
                success: function() {
                    location.reload();
                }
            });
        });
    }



    $('.process > .main').on('click', function() {
        var
            process = $(this).parent('.process').data().content;

        console.log('process');
        console.log(process);
        $(this).nextAll('.stage').toggle();
        $('.preview-default').hide();
        $('.preview-content').hide();
        $('.preview-content.process').show();
        //$(this).css({'background': 'rgb(255, 199, 199)'});
        //$(this).nextAll('.stage').toggle();

        $('.title-preview').text('Process #' + process.pk);
        $('.name-preview').text(process.name);

        $('.description-preview').text(process.description);
        $('.manager-name-preview').text(process.manager.name);
        $('.manager-username-preview').text(process.manager.username);
        $('.stages-preview').text('# Stages: ' + process.stages);
        $('.parent-preview').text('Extends: #' + process.parent.pk + process.parent.name);
        $('.stage-link-preview').attr('href', $('.stage-link-preview').attr('href') + process.pk);
        // $('.task.clone').remove();
        $('.process-delete-preview').unbind();
        $('.process-delete-preview').on('click', process, deleteProcess);

        $('.process-edit-preview').unbind();
        $('.process-edit-preview').on('click', process, updateProcess);
    });

    $('.stage > .main').on('click', function() {
        //$('#preview-container').css('display', 'inline-block');
        var 
            stage = $(this).parent('.stage').data().content;

        console.log('stage');
        console.log(stage);
        $(this).nextAll('.task').toggle();
        $('.preview-default').hide();
        $('.preview-content').hide();
        $('.preview-content.stage').show();

        $('.title-preview').text('Stage #' + stage.pk);
        $('.name-preview').text(stage.name);

        $('.description-preview').text(stage.description);
        $('.manager-name-preview').text(stage.manager.name);
        $('.manager-username-preview').text(stage.manager.username);
        $('.tasks-preview').text('# Tasks: ' + (stage.tasks.length - 1));
        $('.subprocess-preview').text('Subprocess: #' + stage.subprocess.pk + stage.subprocess.name);

        $('.task-description').unbind();
        $('.task-description').on('keydown', stage, addTask);

        // $.each(stage.tasks, function(index, element) {
        //     var 
        //         task = base.clone(),
        //         completed = task.children('.task-completed'),
        //         description = task.children('.task-description');

        //     description.val(element.description);


        //     if (element.completed == 'True') {
        //         completed.prop('checked', true);
        //         description.css('text-decoration', 'line-through');
        //     }

        //     description.on('keydown', {stage:stage, task: index}, updateTask);
        //     completed.show();
        //     completed.prop('disabled', false);
        //     completed.on('change', {stage:stage, task: index}, checkTask);
        //     task.removeClass('base');
        //     task.addClass('clone');
        //     $('.tasks').append(task);
        // });
        $('.stage-delete-preview').unbind();
        $('.stage-delete-preview').on('click', stage, deleteStage);

        $('.stage-edit-preview').unbind();
        $('.stage-edit-preview').on('click', stage, updateStage);

    });

    $('.task > .main').on('click', function() {
        //$('#preview-container').css('display', 'inline-block');
        var 
            task = $(this).parent('.task').data().content;

        console.log('task');
        console.log(task);
        $('.preview-default').hide();
        $('.preview-content').hide();
        $('.preview-content.task').show();

        $('.title-preview').text('Task #' + task.pk);
        $('.description-preview').text(task.description);

        $('.manager-name-preview').text(task.manager.name);
        $('.manager-username-preview').text(task.manager.username);
        $('.completed-name-preview').text(task.completed_by.name);
        $('.completed-username-preview').text(task.completed_by.username);
        $('.due-date-preview').text("Due date: " + task.due_date);
        $('.end-date-preview').text("End date: " + task.end_date);
        

        $('.complete-task').unbind();
        $('.complete-task').on('click', task, checkTask);
        
        $('.task-delete-preview').unbind();
        $('.task-delete-preview').on('click', task, deleteTask);

        $('.task-edit-preview').unbind();
        $('.task-edit-preview').on('click', task, updateTask);


    });
</script>
{% endblock %}