{% extends 'management/project_dashboard.html' %}
{% load staticfiles %}


{% block section %}
<style type="text/css">
    
    .process:hover {
        background:#F2F2F2 !important;
    }

    .stage:hover {
        background:#F2F2F2 !important;
    }
</style>

<div style="margin-top:20px; font-size:12px;">

    <div  style="overflow:hidden;  position:relative; cursor:pointer; border:1px solid #F2F2F2; border-bottom:1px solid transparent; background:#FFF;">
        <div class="process" style=" padding:4px 12px;">
            <div class="shape square" style="width:28px; min-width:0; vertical-align:middle; box-shadow:0 0 0; border:1px solid #F2F2F2;">
                <div>
                    <img src="{% static 'img/user.jpg' %}" style="width:100%; ">
                </div>
            </div>
            <div style="display:inline-block; margin-left:8px; line-height:40px; vertical-align:middle;" >
                <a href="{% url 'workflow:workflow' project=project.name workflow=workflow.pk %}"><span>{{ workflow.name }}</span></a>
            </div>
            <div style="margin-left:16px; display:inline-block; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                <span> {{ workflow.description }}</span>
            </div>
            <div style="display:inline-block; float:right; line-height:40px;">
                <span style="padding:18px 10px;"><i class="fa fa-fw fa-level-down"></i></span>
                <span style="padding:18px 10px;"><i class="fa fa-fw fa-street-view"></i></span>
            </div>
        </div>

        {% for stage in workflow.stages.all %}
        <!-- {"description": "{{task.description}}", "completed": "{{task.completed}}", "start_date": "{{task.start_date}}", "end_date":"{{task.end_date}}" }, -->
        <div class="stage" style=" padding:4px 12px 4px 48px; display:none;" 
            data-content='{"name": "{{stage.name}}", "description": "{{stage.description}}", "pk": "{{stage.pk}}", "process": {"name": "{{workflow.name}}", "description": "{{workflow.description}}"},  "tasks": [{% for task in stage.tasks.all %}{"id": "{{task.pk}}", "description": "{{task.description}}", "completed": "{{task.completed}}", "start_date": "{{task.start_date}}", "end_date":"{{task.end_date}}" },{% endfor %} null] }'>
            <div class="shape circle simple" style="width:20px; height:20px; overflow:hidden; min-width:0; vertical-align:middle; box-shadow:0 0 0; border:1px solid #F2F2F2;">
                <div>
                    <img src="{% static 'img/user.jpg' %}" style="width:100%; ">
                </div>
            </div>
            <div style="display:inline-block; margin-left:8px; line-height:40px; vertical-align:middle;" >
                <span>{{ stage.name }}</span>
            </div>
            <div style="margin-left:16px; display:inline-block; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                <span> {{ stage.description }} </span>
            </div>
            <div style="display:inline-block; float:right; color:#A3A3A3; line-height:40px; vertical-align:middle; font-size:11px;">
                <span style="padding:18px 10px;"> {{ stage.tasks.count }} tasks</span>
            </div>
        </div>
        {% endfor %}
    </div>

    <div style="background:#FFF; border:1px solid #F2F2F2; border-radius:4px; padding:28px;" >
        <div style="border-bottom:1px solid #AEAEAE; padding:6px 0">
            <h3> Create Stage </h3>
        </div>

        <form class="form-horizontal" action="" method="post" style="margin-top:20px;" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <!-- margin:12px 12px 5% 12px float:left;-->
            <div class="form-group">
                <ol>
                {% for error in form.name.errors %}
                    <li><strong>{{ error|escape }}</strong></li>
                {% endfor %}
                </ol>
                <label  class="control-label" for="{{ form.name.id_for_label }}" style="width:15%;">Name</label>
                <div style="width:75%; display:inline-block; margin:0 0 0 7.5%;">
                    <input class="form-control" name="{{ form.name.html_name }}" maxlength="{{ form.name.field.max_length }}">
                </div>
            </div>
            <div class="form-group">
                    <ol>
                    {% for error in form.description.errors %}
                        <li><strong>{{ error|escape }}</strong></li>
                    {% endfor %}
                    </ol>
                    <label  class="control-label" for="{{ form.description.id_for_label }}" style="width:15%;">Description</label>
                    <div style="width:75%; display:inline-block; margin:0 0 0 7.5%;">
                        <input class="form-control" name="{{ form.description.html_name }}" maxlength="{{ form.description.field.max_length }}">
                    </div>
            </div>
            <div class="form-group">
                <button>Create</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}




{% block extra_scripts %}
<script>
    $('.process').on('click', function() {
        $('.process').css({'background': '#FFF'})
        $('.stage').hide();
        $(this).css({'background': 'rgb(255, 199, 199)'});
        $(this).nextAll('.stage').toggle();
    });

    $('.stage').on('click', function() {
        //$('#preview-container').css('display', 'inline-block');
        
        var stage = $(this).data().content;
        console.log(stage);

        $('#stage-name-preview').text(stage.name);
        $('#stage-description-preview').text(stage.description);
        $('.task.clone').remove();

        $.each(stage.tasks, function(index, element) {
            var task = $('.task.base').clone();
            task.children('.task-description').val(element.description);

            if (element.completed == 'True') {
                task.children('.task-completed').prop('checked', true);
                task.children('.task-description').css('text-decoration', 'line-through');
            }

            task.children('.task-completed').attr('disabled', 'disabled');
            task.children('.task-description').attr('disabled', 'disabled');
            task.removeClass('base');
            task.addClass('clone');
            $('.tasks').append(task);
        });
        // $('#stage-name-preview').text(stage.name);
        // $('#project-description-preview').text(project.description);
        // $('#project-logo-preview').attr('src', project.logo);
        // console.log($('#project-logo-preview').attr('src'));

    });




</script>
{% endblock %}