{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="content">
    <!-- overflow:scroll; -->
    <div style="padding:30px 0 0 30px; width:70%; height:100%;  display:inline-block; float:left;">
        
        {% for membership in group %}
        <div class="shape square" style="margin:20px 20px  40px 20px; float:left;">
            <a class="preview" href=""
                data-id=""
                data-content='{"name": "{{membership.team.name}}", "logo": "{{membership.team.logo.url}}"}'>
                <div>
                    <img src="{{ membership.team.logo.url }}"  style=" position:relative; width:100%;">
                </div> 
            </a>
            <a class="link" href="{% url 'hierarchy:team_profile' team=membership.team.name %}" style="display:none;">
                <div style="background:rgba(0, 0, 0, 0.4);">
                </div>
            </a>

            <div style="top:100%; height:40px; font-family:Open Sans; font-size:12px; margin-right:-10px; margin-left:-10px;">
                <div class="label">{{ membership.team.name }} </div>
            </div>
        </div>
        {% endfor %}

        <div class ="shape square" style="margin:20px 20px 40px 20px; float:left;">
            <a href="{% url 'hierarchy:team' %}">
                <div class="align" style="border:2px dashed #AEAEAE; overflow:hidden; ">
                    <i class="fa fa-w fa-plus" style="color:#AEAEAE;"></i>
                    <!-- <img  src="{% static 'img/project.png' %}"  style=" position:relative; width:100%;  "> -->
                </div> 
            </a>
            <div class="label" style="top:100%; padding-left:8px; height:40px; font-family:Open Sans;  font-size:12px;">
                New Team
            </div> 
        </div>
    </div>

    <div id="preview-container" style="width:25%; right:0; height:100%; display:inline-block; float:left; background:#FFF; position:fixed; display:none;" >
        <div style="border-left:1px solid #F2F2F2; width:100%; height:100%; overflow-y:scroll; position:absolute; ">
            <div style="padding:28px 24px 18px;">
                <div class="shape square simple" style="width:60px; min-width:0; margin:0 10px 10px 0; vertical-align:top;" >
                    <div style=" overflow:hidden;">
                        <img  id="team-logo-preview" src="{% static 'img/project.png' %}"  style=" position:relative; width:100%;  ">
                    </div> 
                </div>
                <div style="display:inline-block; vertical-align:top;">
                    <div id="team-name-preview" style="font-family:Open Sans; font-size:14px; font-weight:400; color:#434343;">FileStory</div>
                    <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343;">ITESM Campus Querétaro</div>
                    <div style="font-family:Open Sans; font-size:12px; font-weight:300; color:#434343; background:#FDAD73; padding:1px 6px; display:inline-block; border-radius:2px;">
                        Active
                    </div>
                </div>
            </div>
            <div style="padding:2px 24px; border-top:1px solid #F2F2F2;">
                <!-- <div style="font-family:Open Sans; font-size:14px; font-weight:300; color:#434343; margin-top:12px;">Team</div> -->
                <div id="team-members-preview" style="">
                    
                </div>
            </div>            

<!--         rol, permisos, icono, nombre, descripcion, miembros, tasks
        agregar miembro, configuracion, editar

        barra lateral durante tasks servira para mensajes y archivos, a que proceso pertenece, quien era el encargado, quien lo hizo, etc, evidencias, artefactos

        ver si un proyecto a huevo necesita una entidad equipo o puede tener colaboradores estilo github

        agregar filtro a procesos y tasks por equipo o por proyecto

        en el aside de equipo que salgan las noticias de los equipos, mensajes, etc

        aside -> mensajes, archivos, tasks, procesos, miembros(equipo), colaboradores (proyecto), versiones, timeline estilo github (noticias)

        en fotos de miembros mandar a la url del rol del usuario o lo referente a el en el proyecto o equipo


        documentos finales, pueden ser visibles (publicos o no :D ), artefactos o evidencias publicas o privadas -->



        </div>





    </div>


    
</div>
{% endblock %}


{% block extra_scripts %}
<script>
    $('.preview').click(function(event) {
        $('#preview-container').css('display', 'inline-block');
        event.preventDefault();
        $('.link').hide();
        $(this).next('.link').show();
        var team = $(this).data().content;
        $('#team-name-preview').text(team.name);
       // $('#project-description-preview').text(team.description);
        $('#team-logo-preview').attr('src', team.logo);
        var member_url = "/team/" + team.name  + "/members"
        console.log($('#team-logo-preview').attr('src'));
        $.ajax({
            url: member_url,
            type: "post",
            success: function(response) {
                console.log('success');
                console.log(response);
            }
        })
        return false;
    });

</script>
{% endblock %}