{% load staticfiles %}
{% load menu %}
<!-- background:rgba(158, 199, 231, 0.46); -->
<aside class="main" style="">                 
    
    <!-- box-shadow:0 0 8px rgba(0, 0, 0, .1); -->
    <div style="padding:10px; overflow:hidden;">
        <span class="logo">Bz</span>
    </div>

    <nav class="main">
        <ul>
            <li> 
                <!-- background:#434343; width:26px; border-radius:2px;-->
                <a href="{% url 'management:projects' %}">
                    <div class="item">
                        <i class="fa fa-mortar-board fa-fw"></i>
                        <!-- <span>Projects</span> -->
                        
                        <div class="index {% active_item request 'management:projects' %}"></div>
                    </div>
                </a>

            </li>
            <li> 
                <a href="{% url 'hierarchy:teams' %}">
                    <div class="item">
                        <i class="fa fa-group fa-fw"></i>
                        <div class="index  {% active_item request 'hierarchy:teams' %}"></div>
                    </div>
                </a>
            </li>
            <li> 
                <a href="{% url 'workflow:tasks' %}">
                    <div class="item">
                        <i class="fa fa-tasks fa-fw"></i>
                        <div class="index  {% active_item request 'workflow:tasks' %}"></div>
                    </div>
                </a>
            </li>
            <li> 
                <a href="/explore{# url 'explore:index' #}">
                    <div class="item">
                        <i class="fa fa-globe fa-fw"></i>
                        <div class="index  {% active_item request 'basic:explore' %}"></div>
                    </div>
                </a>
            </li>
            <li> 
                <a href="{% url 'basic:settings' %}">
                    <div class="item">
                        <i class="fa fa-gears fa-fw"></i>
                        <div class="index  {% active_item request 'basic:settings' %}"></div>
                    </div>
                </a>
            </li>
        </ul>              
    </nav>       
    <div style="position:absolute; bottom:0; left:0; right:0; background:#323232; height:20px;">
    </div>   
</aside>
