{% load staticfiles %}
<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- CSS -->
        <link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto+Condensed:400,700,300|Roboto:100,200,300,400|Lato:200,300,400,500,600" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Dosis:200,300,400,500,600,700,800|Noto+Sans:400,700,400italic,700italic|Droid+Sans:400,700|PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|Arimo|Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400|Open+Sans+Condensed:300,300italic,700&subset=latin,latin-ext" rel="stylesheet" type="text/css"> 
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">  
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/bernuzz.css' %}" rel="stylesheet">


        {% block stylesheets %}
        {% endblock %}

        <!-- SCRIPTS -->
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

        {% block scripts %}
        {% endblock %}
    </head>

    <body>
        {% include 'header.html' %}
        
        {% block aside %}
            {% include 'aside.html' %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>

    {% block extra_scripts %}
    {% endblock %}
</html>
